<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Toggle test</h1>
  <button mat-raised-button [matMenuTriggerFor]="appMenu">Trigger mat menu</button>
  <mat-menu #appMenu="matMenu"
    hasBackdrop="false"
    overlapTrigger="false"
    xPosition="before">
    <div mat-menu-item
    (click)="$event.stopPropagation()">
      <mat-slide-toggle labelPosition="before">Slide me!</mat-slide-toggle>
    </div>
    <div mat-menu-item>
      <mat-slide-toggle labelPosition="before">Slide me!</mat-slide-toggle>
    </div>
    <div mat-menu-item>
      <mat-slide-toggle labelPosition="before">Slide me!</mat-slide-toggle>
    </div>
    <div mat-menu-item>
      <mat-slide-toggle labelPosition="before">Slide me!</mat-slide-toggle>
    </div>
  </mat-menu>
</div>
