<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>Toggle test</h1>

  <button
    mat-raised-button
    [matMenuTriggerFor]="appMenu"
    (click)="fixOverflow()"
    >
    Trigger mat menu with toggle in it (fixed)
  </button>
  &nbsp;
  <button
    mat-raised-button
    [matMenuTriggerFor]="appMenu2"
  >
      Trigger mat menu with toggle in it
  </button>

  <mat-menu #appMenu="matMenu" overlapTrigger="false">
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item
      disableRipple='false'
      (click)="$event.stopPropagation()">
        <mat-slide-toggle
          disableRipple='false'>Slide me!</mat-slide-toggle>
    </button>
    <button mat-menu-item>Click me!</button>
  </mat-menu>

  <mat-menu #appMenu2="matMenu" overlapTrigger="false">
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
    <button mat-menu-item>Click me!</button>
  </mat-menu>

</div>
